@import "https://cdn.jsdelivr.net/npm/modern-normalize@1.1.0/modern-normalize.min.css";

/* Base styles */
:root {
  --accent: #faae2b; /* Background of highlighted */
  --primary-100: #d9b382;
  --primary-200: #ba9667;
  --primary-300: #75572b;
  --accent-100: #a67c3f;
  --accent-200: #462800;
  /* --text-100: #4d4d4d; */
  /* --text-200: #140d0b; */
  --text-100: #797979;
  --text-200: #4d4d4d;
  --bg-100: #f5eccb;
  --bg-200: #ebe2c1;
  --bg-300: #c2ba9a;
}

body {
  font-family: proxima-nova, sans-serif;
  font-size: 19px;
  line-height: 1.8;
  font-weight: 400;
  background-color: var(--bg-100);
  color: var(--text-100);
}

h1,
h2,
h3,
h4,
p,
ul {
  margin: 0;
  padding: 0;
}

h1,
h2 {
  color: var(--accent-200);
  font-weight: bold;
}

h3,
h4 {
  color: var(--text-200);
}

a {
  color: var(--accent-100);
}

.button-container {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

button,
.button {
  line-height: 1.15;
  text-decoration: none;
  background-color: var(--primary-100);
  color: var(--text-200);
  border: none;
  border-radius: 5px;
  padding: 10px 16px;
  font-size: 21px;
  cursor: pointer;
}

button:hover,
.button:hover {
  background-color: var(--primary-200);
  color: var(--accent-200);
}

/* Header styles */
header {
  background-color: var(--bg-300);
  position: sticky;
  top: 0;
  z-index: 1;
  padding: 0 30px;
  border-bottom: 3px solid var(--text-200);
  line-height: normal;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

nav li {
  margin-left: 48px;
  padding: 0;
}

nav li:first-child {
  margin-left: 0;
  margin-right: auto;
}

nav a {
  text-decoration: none;
  display: flex;
  align-items: center;
  color: var(--text-200);
  padding: 12px 0;
  font-size: 21px;
  font-weight: bold;
  line-height: 24px;
}

nav a.logo-anchor {
  padding: 4px 0;
  font-size: 24px;
  font-weight: bold;
  line-height: 24px;
}

nav a.active,
nav a:hover {
  color: var(--accent-200);
}

nav a.logo-anchor img {
  width: 40px;
  height: 40px;
  outline: none;
  margin-right: 10px;
}

/* Footer styles */
body > footer {
  padding: 10px 30px;
  text-align: center;
  font-size: 14px;
}

body > footer p {
  margin: 0;
}

/* Main styles */
main {
  padding: 0 30px;
}

section {
  margin: 15px 0;
}

.landing {
  width: 100vw;
  height: calc(100vh - 48px);
  background-image: radial-gradient(
      ellipse 150% 50% at center,
      rgba(245, 236, 203, 0.4) 0% 30%,
      rgba(0, 0, 0, 0.8)
    ),
    url("assets/bg-image.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.landing h1 {
  font-size: 112px;
  text-align: center;
}

.cards-container {
  display: flex;
  justify-content: space-between;
}

.card {
  flex: 1;
  padding: 20px;
  background-color: var(--bg-200);
  border-radius: 10px;
}

.cards-container > .card:not(:first-child) {
  margin-left: 20px;
}

.card h3 {
  font-size: 48px;
}

#how-to-contribute {
  padding: 40px 80px;
  background-color: var(--bg-200);
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#how-to-contribute > ul {
  display: flex;
  list-style: none;
  align-items: center;
}

#how-to-contribute > ul > li:not(:last-child) {
  align-items: center;
  color: var(--text-200);
  font-size: 24px;
  font-weight: bold;
  padding: 20px;
  background-color: var(--bg-100);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin-left: 40px;
  width: 240px;
}

#how-to-contribute > ul > li:last-child {
  margin-left: 40px;
  height: fit-content;
}

#how-to-contribute > ul > li:last-child > a {
  display: flex;
  flex-direction: column;
  align-items: left;
  line-height: 1.2;
}

#how-to-contribute > ul > li i {
  font-size: 32px;
  margin-bottom: 10px;
}

#how-to-contribute > ul > li svg {
  width: 32px;
  height: 32px;
  fill: var(--bg-100);
  margin-top: 20px;
}

.green {
  color: #5cb85c;
}

.blue {
  color: #005baa;
}

.red {
  color: #d9534f;
}

main > p {
  margin-top: 20px;
}
