@import "https://cdn.jsdelivr.net/npm/modern-normalize@1.1.0/modern-normalize.min.css";

:root {
  --primary-100: #fffffe;
  --primary-200: #e8e4e6;
  --primary-300: #abd1c6;
  --primary-700: #004643;
  --primary-800: #0f3433;
  --primary-900: #001e1d;
  --accent: #f9bc60;
  --tertiary: #e16162;
}

body {
  font-family: proxima-nova, sans-serif;
  font-size: 18px;
  line-height: 1.8;
  font-weight: 400;
  background-color: var(--primary-300);
  color: var(--primary-800);
}

header {
  background-color: var(--primary-300);
  position: sticky;
  top: 0;
  z-index: 1;
  padding: 10px 30px;
  border-bottom: 3px solid var(--primary-900);
  line-height: normal;
}

main {
  padding: 0 30px;
}

body > footer {
  padding: 10px 30px;
  text-align: center;
  font-size: 14px;
}

body > footer p {
  margin: 0;
}

h1 {
  color: var(--primary-900);
}

a {
  color: var(--accent);
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav li:first-child {
  margin-left: 0;
  margin-right: auto;
}

nav li {
  margin-left: 20px;
  font-size: 1.2rem;
  font-weight: 700;
  padding: 10px 0;
}

nav li:last-child {
  margin-right: 0;
}

nav a {
  color: var(--primary-900);
  text-decoration: none;
  padding: 8px 12px;
  border: 2px solid transparent;
  border-radius: 5px;
}

nav a.active,
nav a:hover {
  background-color: var(--accent);
  border-color: var(--primary-900);
}
